<!doctype html>
<html lang="pt-br" style="height: 100%;">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}PriceAlert{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    {% block css %}{% endblock %}
  </head>

  <body style="display: flex; flex-direction: column; min-height: 100%; background-color: #f4f5f7; margin: 0;">
    
    <header>
      {% include 'main/partials/navbar.html' %}
    </header>

    <section class="section" style="flex-grow: 1; display: flex; flex-direction: column; padding: 2rem 1.5rem;">
        {% block content %} 
        {% endblock %}
    </section>

    {% include 'main/partials/footer.html' %}

  </body>
</html>
